extends htmlTemplate.pug
block breadcrumb
    li.breadcrumb-item.active ReadLaterDB
block content
    .container.col-12
        table.table.table-hover.table-responsive
            thead
                tr
                    th No.
                    th _id
                    th userID
                    th reviewID
            tbody
                each readLater, index in readLaters
                    tr
                        td= index+1
                        td= readLater._id
                        td= readLater.userID
                        td= readLater.reviewID
